/* body{
  background-color: yellow;
}
h1{
  text-align: center;
}
.head1{
  background-color: aqua;
}
#head2{
    background-color: red;
  color:white;
}
body {
    background-image: url("link_to_your_picture.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.header {
    background-color: aqua;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 20px;
}

.content {
    background-color: rgb(255, 255, 255, 0.7);
    height: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    background-color: blue;
    text-align: center;
    padding: 10px;
}
.vocab {
    color: green;
    font-weight: bold;
}
div a{
  background-color: antiquewhite;
  padding: white;
}
a > h1{
  background-color: blue;
  color: white;
}
a + a {
  background-color: red;
}
a > h2{
  background-color: aqua;
  color: yellow;
}
a > h3 {
  background-color: orange;
  color: blue;
}
p:hover {
  color: green;
  front-weight: bold;
}
p::before {
  content: 'Hello';
  color: red;
  front-weight: bold;
}
p::after {
    content: 'Bye!';
  color: red;
  front-weight: bold;
}
p::selection {
  background-color: antiquewhite;
  padding: white;
}
*/

.visible
{
visibility: visible;
}
.hidden {
visibility: hidden;
}
/* Opacity */
.op_1 {
opacity: 1;
}
.op_0 {
opacity: 0;
}
.op_05 {
opacity: 0.5;
}
/* Display */
.none {
display: none;
font-weight: bold;
}
.inline {
display: inline;
font-weight: bold;
}
.block {
display: block;
font-weight: bold;
}
h3 {
 background-color: aquamarine;
 text-align: center;
}
*{ 
padding: 0;
margin: 0;
}
.nav {
background-color: rgb (253, 185, 185);
height: 20px;
padding: 10px;
text-align: center;
margin-bottom: 10px;

}
.banner {
background-color: aqua;
height: 200px; 
}
.content {
background-color: rgb(246, 213, 213);
height: 400px;
}
.footer {
background-color: Orgb(37, 27, 27);
height: 20px;
height: 100px;
}
img
{
width: 100%;
filter: grayscale(100%) invert (100%) ;
}
